
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body{
    background-color: black;
    color: rgb(226, 43, 92);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 70%;
    padding: 1em;
    text-align: justify;
    border: 0.1rem solid rgb(124, 101, 101);
    margin: 0  auto;
    
    
}
.container__cabecera{
    background-color: lime;
    color: purple;
    font-size: 1.6rem;
    text-align: center;
    padding: 0.5rem; 
    display: flex;
    justify-content: flex-start ;
}
.container__cabecera p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.container__cabecera-logo img{
    height: 8rem;
    width: 8rem;
    
    
}
.container__post{
    font-size: 2rem;
    padding: 1rem;
}
.container__post-pigimg{
    display: flex;
    justify-content: center;
}
.container__post-pigimg img{
    height: 20rem;
    width: 20rem;
}
.footer__container{
    outline: 0.1rem solid salmon;  /* es un borde que se dibuja por fuera del elemento pero no ocupa espacio */
    padding: 1rem;
    margin-top: auto;
    background-color: yellow;
    display: flex;
    justify-content: flex-start;
 }

.footer__container-images img{

    height: 3rem;
    width: 3rem;
    margin: auto 0.5rem;
    
    

}